<%= link_to activity_path(saving.activity) do %>
    <section>
      <% if saving.activity.image.nil? %>
        <% image = 'https://images.unsplash.com/photo-1593739742226-5e5e2fdb1f1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80' %>
       <% else %>
        <% image = saving.activity.image %>
     <% end %>
      <div class="card-saving">
        <div class="saving-left">
          <img src= <%= image%> />
        </div>
        <div class="card-saving-infos">
          <%= saving.activity.name %>
          <%= saving.attendance%>
        </div>
      </div>
      <button class="btn btn-orange"><%= link_to "Update Attendance", saving_path(saving),method: :patch, data: {confirm: "Are you sure?"} %></button>
      <button class="btn btn-primary"><%= link_to "Delete Saving", saving_path(saving),method: :delete, data: {confirm: "Are you sure?"} %></button>
    </section>
<% end %>

<%# z-index: 10; %>
