<%= link_to activity_path(activity) do %>
  <section>
    <% if activity.image.nil? %>
      <% image = 'https://images.pexels.com/photos/450062/pexels-photo-450062.jpeg?auto=compress&cs=tinysrgb&w=1600' %>
    <% else %>
      <% image = activity.image %>
    <% end %>
    <div class="cards-index">
      <div class="top test" style="background-image: url('<%= image%>')"></div>
      <div class="bottom-index">
        <div class="card-infos-index">
            <div class="cont-info-index">
            <h2><%= activity.summary[0..28] %>...</h2>
            <p><i class="fas fa-star"></i>
              <%= Review.where(activity_id: activity.id).empty? ? 3.0 : Review.where(activity_id: activity.id).average(:ratings).round(1) %>
            </p>
            </div>
            <h4 class="card-address-index"><%= activity.address %></h4>
            <h2 class="card-pricing-index"><%= activity.price %> € </h2>
        </div>
      </div>
    </div>
  </section>
<% end %>


      <%# <li><%= activity.name%>
      <%# <%= activity.summary%>
      <%# <%= activity.address%>
      <%# <%= activity.contact_info%>
      <%# <%= activity.price EURO</li> %>
