<div class="nav" data-controller="nav" data-action="scroll@window->nav#updateNavbar">
  <div class="right-nav">
    <%= link_to image_tag("logo.png", :class => "logo"), root_path %>
  </div>
  <div class="mid-nav">
    <ol>
      <li class="nav-item"><a href="#"><%= link_to "Home", root_path %></a></li>
      <li class="nav-item"><a href="#"><%= link_to "Activities", activities_path %></a></li>
      <li class="nav-item"><a href="#"><%= link_to "My Profile", my_savings_path %></a></li>
      <li class="nav-item"><a href="#">About-Us</a></li>
      <%# <li class="nav-item"><a href="#"><%= link_to "Users", users_path</a></li> %>
      <button type="button" class="btn btn-primary"><%= link_to "Log out", destroy_user_session_path, {style:'color:#FFFFFF;'}%></button>
    </ol>
  </div>
  <div class="left-nav">
   <% unless current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path)%>
    <div class="search-box">
      <input type="text" class="search-txt" name="" placeholder="Search">
      <a href="#" class="search-btn">
        <ion-icon name="search-outline"></ion-icon>
      </a>
    </div>
  <!-- Ionic Icons -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  <% end %>
    <%# <button type="button" class="btn btn-primary">Log in</button> %>
    <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path)%>
      <% unless user_signed_in? %>
        <button type="button" class="btn btn-primary"><%= link_to "Log in", new_user_session_path, {style:'color:#FFFFFF;'}%></button>
      <% else %>
        <%# <button type="button" class="btn btn-primary"><%= link_to "Log out", destroy_user_session_path, {style:'color:#FFFFFF;'}%>
        <%# </button> %>
        <div class="search-box">
          <div class="row">
            <%= form_tag activities_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                type: "text",
                class: "search-txt",
                placeholder: "Search"
              %>
          </div>
          <button type="submit" name="" class="search-btn border-0"><ion-icon name="search-outline"></ion-icon></button>
          <% end %>
        <% end %>
      <%# <input type="text" class="search-txt" name="" placeholder="Search"> %>
      <%# <a href="#" class="search-btn">
        <ion-icon name="search-outline"></ion-icon>
      </a> %>
    </div>
  <!-- Ionic Icons -->
      <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
      <% end %>
  </div>
</div>
      <%# <button type="button" class="btn btn-primary"><%= link_to "Log out", destroy_user_session_path, {style:'color:#FFFFFF;'}</button>  %>
