<div class="nav" data-controller="nav" data-action="scroll@window->nav#updateNavbar">
  <div class="right-nav">
    <h4><%= link_to "Around-U", root_path %></h4>
  </div>
  <div class="mid-nav">
    <ol>
      <li class="nav-item"><a href="#"><%= link_to "My Profile", my_savings_path %></a></li>
      <li class="nav-item"><a href="#"><%= link_to "Activities", activities_path %></a></li>
      <li class="nav-item"><a href="#">About-Us</a></li>
      <li class="nav-item"><a href="#">FAQs</a></li>
    </ol>
  </div>
  <div class="left-nav">
  <% unless current_page?(root_path) %>
    <div class="search-box">
      <input type="text" class="search-txt" name="" placeholder="Search">
      <a href="#" class="search-btn">
        <ion-icon name="search-outline"></ion-icon>
      </a>
    </div>
  <!-- Ionic Icons -->
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  <% end %>
    <%# <button type="button" class="btn btn-primary">Log in</button> %>
    <% unless user_signed_in? %>
      <button type="button" class="btn btn-primary"><%= link_to "Log in", new_user_session_path, {style:'color:#FFFFFF;'}%></button>
    <% else %>
      <div class="search-box">
      <input type="text" class="search-txt" name="" placeholder="Search">
      <a href="#" class="search-btn">
        <ion-icon name="search-outline"></ion-icon>
      </a>
    </div>
  <!-- Ionic Icons -->
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <% end %>
  </div>
</div>
      <%# <button type="button" class="btn btn-primary"><%= link_to "Log out", destroy_user_session_path, {style:'color:#FFFFFF;'}</button>  %>
