<div class="nav" data-controller="nav" data-action="scroll@window->nav#updateNavbar">
  <div class="right-nav">
    <h4><%= link_to "Around-U", root_path %></h4>
  </div>
  <div class="mid-nav">
    <ol>
      <li class="nav-item"><a href="#"><%= link_to "My Profile", my_savings_path %></a></li>
      <li class="nav-item"><a href="#"><%= link_to "Activities", activities_path %></a></li>
      <li class="nav-item"><a href="#">About-Us</a></li>
      <li class="nav-item"><a href="#">FAQs</a></li>
    </ol>
  </div>
  <div class="left-nav">
    <%# <button type="button" class="btn btn-primary">Log in</button> %>
    <% unless user_signed_in? %>
      <button type="button" class="btn btn-primary"><%= link_to "Log in", new_user_session_path, {style:'color:#FFFFFF;'}%></button>
    <% else %>
      <button type="button" class="btn btn-primary"><%= link_to "Log out", destroy_user_session_path, {style:'color:#FFFFFF;'}%></button>
    <% end %>
  </div>
</div>
