<div class="container">
  <div class="profile-grid" data-controller="tab">
    <div class="d-flex flex-column">
      <div class="profile-card">
          <div class="profile-top">
            <img src="https://images.pexels.com/photos/459271/pexels-photo-459271.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          </div>
          <div class="profile-bottom">
            <h4>Daniel Hong</h4>
            <p>Thank You! Come again</p>
            <img src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=1600" class="ppic" alt="">
            <div class="socials">
              <a style="color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
              <a style="color: #55acee;" href="#!" role="button"><i class="fab fa-twitter fa-lg"></i></a>
              <a style="color: #dd4b39;" href="#!" role="button"><i class="fab fa-google fa-lg"></i></a>
              <a style="color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
          </div>
      </div>
      <div class="box4">
        <div class="card-flex">
        <h5>Following</h5>
          <div class="people-card">
            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
            <div class="people-info">
              <h3>Oscar</h3>
              <p>Also likes gaming all night</p>
            </div>
          </div>
          <div class="people-card">
            <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
            <div class="people-info">
              <h3>Alexa</h3>
              <p>Also likes selling drugs</p>
            </div>
          </div>
          <div class="people-card">
            <img src="https://images.pexels.com/photos/3785079/pexels-photo-3785079.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
             <div class="people-info">
              <h3>Yasin</h3>
              <p>Also likes eating tide pots</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="box2">
        <ol>
          <li class="profile-nav" data-action="click->tab#show" id="Overview"><a href="#">Overview</a></li>
          <li class="profile-nav" data-action="click->tab#show" id="Posts"><a href="#">Posts</a></li>
          <li class="profile-nav" data-action="click->tab#show" id="Saved"><a href="#">Saved</a></li>
          <li class="profile-nav" data-action="click->tab#show" id="Reviews"><a href="#">Reviews</a></li>
          <li class="profile-nav"><a href="#">Events</a></li>
          <li class="profile-nav"><a href="#">Media</a></li>
        </ol>
      </div>
      <div class="box3" data-tab-target="section" id="Posts">
        <div class="my-post">
          <img src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=1600" id="post-img" alt="">
          <%= simple_form_for [@saving, @posting] do |f| %>
          <%# <%= f.input :content, placeholder: "Add your post here...", label: false, :input_html => { :class => 'post-input' }%>
          <div class="field">
            <%= f.label :content %>
            <%= f.rich_text_area :content %>
          </div>
          <%= f.submit class:"btn btn-primary submit-post-btn" %>
          <% end %>
        </div>
        <div class="my-posting">
          <% @postings.each do |posting| %>
          <div class="post">
            <div class="post-top">
              <img src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=1600" id="post-img" alt="">
              <div class="post-top-cont">
                <h5>Daniel Hong</h5>
                <h6><%= posting.created_at.strftime("%Y-%m-%d") %></h6>
              </div>
            </div>
            <hr>
            <div class="post-bottom">
              <%= posting.content %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="box5 d-none" data-tab-target="section" id="Saved">
        <% @savings.each do |saving| %>
          <%= render 'shared/cardsaving', saving: saving %>
        <% end %>
      </div>
      <div class="box6 d-none" data-tab-target="section" id="Reviews">
      See my reviews and also delete or CRUD for my reviews
      </div>
      <div class="box7 d-none" data-tab-target="section">hello</div>
    </div>
  </div>
</div>
