<div class="container-index">
  <div class="index-display">
  <ul>
    <% @savings.each do |saving| %>
      <li><%= saving.user.first_name%>,
      <%= saving.activity.name%>,
      <%= saving.attendance%>
      <% unless saving.attendance %>
        <%= link_to "Attend", saving_path(saving),method: :patch %>
      <% end %>
      <%= link_to "Delete", saving_path(saving),method: :delete, data: {confirm: "Are you sure?"} %></button></li>
    <% end %>
  </ul>
  </div>
</div>
