<div class="container">
  <div class="profile-grid" data-controller="tab">
    <div class="d-flex flex-column">
      <div class="profile-card">
          <div class="profile-top">
            <img src="https://images.pexels.com/photos/459271/pexels-photo-459271.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          </div>
          <div class="profile-bottom">
            <h4><%= current_user.first_name.capitalize()%> <%= current_user.last_name.capitalize() %></h4>
            <p>Thank You! Come again</p>
            <img src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=1600" class="ppic" alt="">
            <div class="socials">
              <a style="color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
              <a style="color: #55acee;" href="#!" role="button"><i class="fab fa-twitter fa-lg"></i></a>
              <a style="color: #dd4b39;" href="#!" role="button"><i class="fab fa-google fa-lg"></i></a>
              <a style="color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
          </div>
      </div>
      <div class="box4">
        <div class="card-flex">
        <h5>Following</h5>
          <div class="people-card">
            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
            <div class="people-info">
              <h3>Oscar</h3>
              <p>Also likes gaming all night</p>
            </div>
          </div>
          <div class="people-card">
            <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
            <div class="people-info">
              <h3>Alexa</h3>
              <p>Also likes selling drugs</p>
            </div>
          </div>
          <div class="people-card">
            <img src="https://images.pexels.com/photos/3785079/pexels-photo-3785079.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
             <div class="people-info">
              <h3>Yasin</h3>
              <p>Also likes eating tide pots</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="box2">
        <ol>
          <li class="profile-nav" data-action="click->tab#show" id="Overview"><a href="#">Overview</a></li>
          <li class="profile-nav" data-action="click->tab#show" id="Posts"><a href="#">Posts</a></li>
          <li class="profile-nav" data-action="click->tab#show" id="Saved"><a href="#">Saved</a></li>
          <li class="profile-nav" data-action="click->tab#show" id="Reviews"><a href="#">Reviews</a></li>
          <li class="profile-nav"><a href="#">Events</a></li>
          <li class="profile-nav"><a href="#">Media</a></li>
        </ol>
      </div>
      <div class="box3" data-tab-target="section" id="Posts">
        <div class="my-post">
          <%= simple_form_for [@saving, @posting] do |f| %>
          <%# <%= f.input :content, placeholder: "Add your post here...", label: false, :input_html => { :class => 'post-input' }%>
          <div class="field">
            <%= f.label :content %>
            <%= f.rich_text_area :content %>
          </div>
          <%= f.submit class:"btn btn-primary submit-post-btn" %>
          <% end %>
        </div>
        <div class="my-posting">
          <% @postings.order(created_at: :desc).each do |posting| %>
          <div class="post">
            <div class="post-top">
              <img src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=1600" id="post-img" alt="">
              <div class="post-top-cont">
                <h5><%= current_user.first_name.capitalize()%> <%= current_user.last_name.capitalize() %></h5>
                <h6><%= posting.created_at.strftime("%Y-%m-%d") %></h6>
                <button class="btn"><%= link_to posting_path(posting),method: :delete, data: {confirm: "Are you sure?"} do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                  <% end %>
                </button>
              </div>
            </div>
            <hr>
            <div class="post-bottom">
              <%= posting.content %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="box5 d-none" data-tab-target="section" id="Saved">
        <% @savings.each do |saving| %>
          <%= render 'shared/cardsaving', saving: saving %>
        <% end %>
      </div>
      <div class="box6 d-none" data-tab-target="section" id="Reviews">
         <% @reviews.order(created_at: :desc).each do |review|  %>
          <div class="post">
          <%# if image nil put static pexels %>
            <div class="post-top">
              <% if review.activity.image.nil? %>
                  <% image = 'https://images.pexels.com/photos/450062/pexels-photo-450062.jpeg?auto=compress&cs=tinysrgb&w=1600' %>
                <% else %>
                  <img src='<%= review.activity.image %>' id="post-img">
              <% end %>
              <div class="post-top-cont">
              <%= link_to activity_path(review.activity) do %>
                <h5><%= review.activity.summary %></h5>
              <% end %>
                <h6><%= review.created_at.strftime("%Y-%m-%d") %></h6> <button class="btn"><%= link_to review_path(review),method: :delete, data: {confirm: "Are you sure?"} do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                <% end %>
              </button>
              </div>
            </div>
            <hr>
            <div class="post-bottom">
              <div class="top-rev">
                <div class="div"><%= review.ratings %><i class="fas fa-star"></i></div>
              </div>
              <div class="div-cont"><%= review.content %></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="box7 d-none" data-tab-target="section"></div>
    </div>
  </div>
</div>
