<div class="container-index">
  <div class="index-display">
  <ul>
    <% @savings.each do |saving| %>
      <li><%= saving.user.first_name%>,
      <%= link_to saving.activity.name, activity_path(saving.activity)%>,
      <%= saving.attendance%></li>
      <div class="dlt-btn">
        <button class="btn-show"><%= link_to "Update Attendance", saving_path(saving),method: :patch, data: {confirm: "Are you sure?"} %></button>
      </div>
      <div class="dlt-btn">
        <button class="btn-show"><%= link_to "Delete Saving", saving_path(saving),method: :delete, data: {confirm: "Are you sure?"} %></button>
      </div>
    <% end %>
  </ul>
  </div>
</div>
