<div class="banner">
  <div class="container-banner-left">
    <h2>Browse For New Activities Nearby</h2>
    <%# <div class="input-group">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control" placeholder="Search..." />
      </div>
      <button type="button" class="btn btn-primary" style="background-color: #114B5F;">
      <i class="fas fa-search"></i>
      </button>
    </div> %>
    <div class="input-group">
      <div class="form-outline">
        <%= form_tag activities_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            type: "search",
            id:"form1",
            class: "form-control",
            placeholder: "Search..."
          %>
        </div>
          <%= button_tag(type: "submit", class: "btn btn-primary", style: "background-color: #114B5F") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
    </div>

    <%= link_to "Show all Activities", activities_path %>
  </div>
  <div class="container-banner-right">
    <%= image_tag("banner1.svg", :class => "banner-img") %>
  </div>
</div>
<div class="works">
<button type="button" class="hiw">How it works</button>
<h2>Easy step to find new experiences</h2>
<p>Create new and unforetable adventures</p>
</div>
<div class="steps-container">
  <div class="step">
    <%= image_tag("destination.svg") %>
    <h4>Enter location</h4>
  </div>
  <div class="step">
    <%= image_tag("search.svg") %>
    <h4>Choose an activity</h4>
    </div>
  <div class="step">
    <%= image_tag("enjoy.svg") %>
    <h4>Enjoy</h4>
  </div>
</div>
<div class="top-cont">
  <div class="left-top">
    <h2>Top Rated</h2>
    <h2>Activities</h2>
    <p><%= link_to "Show all Activities", activities_path %></p>
  </div>
  <div class="slide-container swiper" data-controller="swiper">
    <div class="slide-content">

      <div class="card-wrapper swiper-wrapper">
        <!-- Slides -->
        <% @activities.each do |activity| %>
          <div class="card swiper-slide"> <%= render 'shared/slidercard', activity: activity %></div>
        <% end %>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <%# <div class="swiper-scrollbar"></div> %>
    </div>
  </div>
</div>
  <!-- Slider main container -->
<%=  render 'shared/footer' %>
