<div class="banner">
  <div class="container-banner-left">
    <h2>Browse For New</h2>
    <h2>Acitivies Near You</h2>
  </div>
  <div class="container-banner-right">
    <%= image_tag("banner.svg") %>
  </div>
</div>
<div class="container-index">
  <div class="index-display">
  <ul>
    <% @activities.each do |activity| %>
      <li><%= activity.summary%>,
      <%= activity.name%>,
      <%= activity.address%>,
      <%= activity.contact_info%>,
      <%= activity.price%> EURO</li>
    <% end %>
  </ul>
  </div>
</div>
<%=  render 'shared/footer' %>
