<div class="show-container">
  <div class="show-content-div">
  <h2><%= @activity.summary%></h2>
  <div class="top-show-cont">
    <h5>3.0 ⭐️</h5>
      <%= simple_form_for [@activity, @saving] do |f| %>
      <%= button_tag type: 'submit', class: @saved.empty? ? "heart-save" : "heart-red" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
      <% end %>
      <% end %>
  </div>
    <div class="show-images-grid">
    <% if @activity.image.nil? %>
      <% image = 'https://images.unsplash.com/photo-1593739742226-5e5e2fdb1f1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80' %>
    <% else %>
      <% image = @activity.image %>
    <% end %>
      <img src="<%= image %>">
      <%# <img src="https://images.unsplash.com/photo-1542359649-31e03cd4d909?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" alt=""> %>
    </div>
  <div class="show-content">
    <div class="show-info">
      <h3><%= @activity.summary %></h3>
      <p>Location: <%= @activity.address%></p>
      <h3>Price: <%= @activity.price%>€</h3>
      <div class="show-buttons">
      <%= link_to "Go back to Activities", activities_path, class: 'btn btn-primary' %>
    </div>
    </div>
      <div class="show-form">
        <h5>Add your review</h5>
        <%= simple_form_for [@activity, @review] do |f| %>
          <%= f.input :title, placeholder: "Add your review title here..." %>
          <%= f.input :content, placeholder: "Add your review here..." %>
          <%= f.input :ratings, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "jquery-bar-rating" } } %>
          <%= f.submit class:"btn btn-orange" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="reviews-showpage">
  <% if @reviews != nil %>
    <% @reviews.each do |review| %>
      <%= link_to "#{review.user.first_name} #{review.user.last_name}", user_path(review.user) %>
      <%= review.title %>
      <%= review.content %>
      <%= review.ratings %>
    <% end %>
  <% end %>
  </div>
</div>
